# Dependencies
node_modules/
.pnp
.pnp.*

# Next.js
store/.next/
store/out/
store/.vercel/

# Production
build/
dist/

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS misc
.DS_Store
Thumbs.db
.git/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Project specific
*.tsbuildinfo
store/next-env.d.ts
